.title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-top: 70px;
    text-transform: uppercase;
    &_left{
        font-family: MuseoModerno ,sans-serif;
        font-size: 36px;
        color: white;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        line-height: 40px;
        }
}